<script type="text/javascript">
  window.main1URL = "<%= image_url('main1.JPG') %>";
  window.main2URL = "<%= image_url('main2.jpeg') %>";
  window.resumeURL = "<%= image_url('resume.jpeg') %>";
  window.codeURL = "<%= image_url('code.png') %>";
  window.projectsURL = "<%= image_url('projects.png') %>";
</script>

<div id="root">React is Broken!!</div>